body {
margin : 40px;
font-family: Arial, sans-
serif;
}

/* #4F90EF = bleu et #f26160 = bleu-gris */


header {
	font-family: Arial, sans-serif;
	font-weight: normal;
	text-align:left;
	color: white;
background-color: #4F90EF} 

	.header {
	color: #white;
} /*intro-conclusion, sur ma page html mettre : class="header"*/

nav, footer {
	border: 2.5 px solid #4F90EF;
	padding: 10 px}
nav {
  position: sticky;
top: 1px;
  display: flex
}

.container {
  display: grid;
  grid-template-rows: repeat (4 1fr);
  
}
div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 1px;
  background-color: 
}



/*partie fond*/
footer {
	background-color: #4F90EF;
	width: 100%}
/*fin partie fond*/

aside{border: 1 px solid #4F90EF; }

h1 {
	font-size: 20 px;
	font-weight: bold;
  color: white;
  font-family: Arial, sans-serif 
} 

 
li {font-family: Arial, sans-serif;
	font-size: 14 px;
	font-weight: normal;
	text-align: left;
	color: black;
	padding:10 pix;}




h2 {
  font-family: Arial, serif;
  font-size: 18 px;
  font-weight: normal;
  color: white; 
  background-color: #4F90EF;
  width: 25%;

/*fin partie titre*/


/*partie texte*/
p, section, article, aside{
	font-family: Arial, sans-serif;
	font-size: 14 px;
	font-weight: normal;
	color: #black;
} /* */

section, article {text-align:justify;}

strong {
	font-family: Arial, sans-serif;
	font-size: 14 px;
	font-weight: bold;
	color: #4F90EF ;} /* info importante*/
/*fin partie texte*/



/*début image*/
img {padding-left:25%;}
/*fin image*/ 


/*début partie lien*/

a{
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align:justify;
	padding: 2px 1px 0;
	}

a:link {
	color: blue;}

a:visited {
color: red}

a:focus{
	color: black}
	
/*fin partie lien*/


